*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
}

.las-formBox-title{
    min-height: 80px;
    width: 100%;
    padding: 1.375rem 30px;
}

.las-formBox-title p{
    max-width: 8.5rem;
    font-size: 1.25rem;
    color: #222;
}

.las-form{
    padding: 0 30px 30px;
    overflow: hidden;
}

.las-form-input-field{
    margin-bottom: 24px;
}

.las-form-input{
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    display: flex;
    align-items: center;
    font-size: 14px!important;

}

.las-form-input input{
    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}

.las-form-visible{
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 0.9375rem 0 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.las-form-visible svg{
    width: 1.25rem;
    height: 1.625rem;
    padding-top: 0.375rem;
}

.las-form-btn{
    font-size: 14px;
    color: #fff;
    background-color: #ee4d2d!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.09);
    width: 100%;
    outline: none;
    padding: 0 0.625rem;
    border: 0;
    background: none;
    border-radius: 0.125rem;
    height: 2.5rem;
    min-width: 8.75rem;
    text-transform: uppercase;
}

.las-form-forget{
    margin: 10px 0;
}

.las-form-forget a{
    color: #05a;
    font-size: .75rem;
    text-decoration: none;
}

.las-form-or{
    padding-bottom: 14px;
    display: flex;
    align-items: center;
}

.las-form-line{
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}

.las-form-or span{
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: .75rem;
}

.las-form-external{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.las-form-input-error{
    margin: 0;
    padding: 0.25rem 0 0;
    font-size: .75rem;
    color: #ff424f;
    min-height: 1rem;
}

.las-form-exernal-btn{
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .26);
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: .875rem;
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.las-form-exernal-btn p{
    font-size: .875rem;
}

.las-form-exernal-icon{
    width: 36px;
    height: 36px;
    border-radius: 1px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-self: center;
}

.social-white-background{
    width: 22px;
    height: 22px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png);
}

.social-white-google-png {
    background-size: 722.2222222222222% 638.8888888888889%;
    background-position: 83.92857142857143% 5.154639175257732%;
}

.social-white-fb-blue-png {
    background-size: 325% 287.5%;
    background-position: 5.555555555555555% 62.666666666666664%;
}

.las-form-register{
    margin-bottom: 30px;
}

.las-form-register p{
    white-space: pre;
    padding-right: 4px;
    color: rgba(0, 0, 0, .26);
    font-size: .875rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.las-form-register a{
    color: #ee4d2d;
    font-size: .875rem;
    text-decoration: none;
}

.las-form-error{
    margin-bottom: 25px;
    background-color: #fff9fa;
    border: 1px solid rgba(255, 66, 79, .2);
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0.75rem 0.9375rem;
}

.las-form-error-icon{
    margin-right: 0.625rem;
    width: 1rem;
    display: flex;
}

.las-form-error-icon svg{
    color: #ff424f;
    width: 1rem;
    height: 1rem;
}

#las-form-error-text{
    font-size: .875rem;
    color: #222;
}