:root{
  --while-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --background-color: #F5F5F5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.clear{
  clear: both;
}

/* rem: đơn vị tham chiếu tỷ lệ so với phần tử gốc của website  */
html{
  font-size: 10px; /*10px*/
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
}

.grid__column2{
  width: calc(100%/6);
}

.grid__column10{
  width: calc(100% * 5 / 6);
}

/*@media (min-width: 768px) {*/
/*  html {*/
/*    font-size: 16px;*/
/*  }*/
/*}*/

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {*/
/*  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
/*}*/

.header-mix__cart-product-link{
  text-decoration: none;
}
/*cart min item*/
.header-mix__cart-product-item{
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 10px;
}

.header-mix__cart-product-item:hover{
  background-color: rgba(184, 184, 184, 0.1);
}

.header-mix__cart-product-item--img{
  width: 42px;
  height: 42px;
  background-size: cover;
  border: 1px solid rgba(173, 171, 171, 0.6);
  border-radius: 1px;
}

.header-mix__cart-product-item--name-product{
  display: block;
  flex: 1;
  text-align: left;
  padding: 0px 10px;
}

.header-mix__cart-product-item--combox-price{
  color: #ee4d2d;
}

.header-mix__cart-product-item--combox-price{
  position: relative;
}

.header-mix__cart-product-item--unit{
  /* position: absolute;
  top: -4%;
  left: -20%; */
  text-decoration: underline;
  font-size: 1rem;
  margin-right: 2px
}

.header-mix__cart-product-item--price{
  margin-left: -2px;
  padding-left: 0;
  line-height: 1.68px;

}
/**/

@media(max-width: 1024px) {
  .header-nav__item:nth-child(2){
    display: none;
  }
}
