<div class="footer">
    <div class="footer-Seperate"></div>
    <div class="footer-container grid">
        <div class="footer-container__line1">
            <a target="_blank" class="footer-container__line1--item"
               href="https://shopee.vn/legaldoc/privacy"><span>Chính sách bảo mật</span></a>
            <a target="_blank" class="footer-container__line1--item" href="https://shopee.vn/docs/170"><span>Quy
                chế hoạt động</span></a>
            <a target="_blank" class="footer-container__line1--item"
               href="https://shopee.vn/legaldoc/shipping"><span>Chính sách vận chuyển</span></a>
            <a target="_blank" class="footer-container__line1--item"
               href="https://shopee.vn/docs/3111"><span>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span></a>
        </div>
        <div class="footer-container__line2"></div>
        <div class="footer-container__line3">Công ty TNHH FakeShopee</div>
        <div class="footer-container__line">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai,
            Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email:
            cskh@hotro.fakeshopee.vn</div>
        <div class="footer-container__line">Chịu Trách Nhiệm Quản Lý Nội Dung: Đặng Thành Công - Điện thoại liên
            hệ: 024 73081221 (ext 4678)</div>
        <div class="footer-container__line">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp
            lần đầu ngày 10/02/2015</div>
        <div class="footer-container__line">© 2015 - Bản quyền thuộc về Công ty TNHH FakeShopee</div>


    </div>
</div>