.header{
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-image: linear-gradient(0, #FE6432, #F53D2D);
}

.header-mix{
    display:flex;
    justify-content: space-between;
    padding: 25px 0 10px;
}
.header-mix__logo{
    width: 202px;
    height:59px;
}
#logo{
    width: 100%;
    padding: 0 10px;
    margin-top: -10px;
}
.header-mix__search{
    flex: 1;
    height: 40px;
    background-color: var(--while-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.form-search{
    flex: 1;
    display: flex;
}

.input--search-Wrap{
    flex: 1;
    font-size: 1.4rem;
    position: relative;
}

.input--search{
    width: 100%;
    height: 34px;
    font-size: 16px;
    border: 0;
    padding: 5px 10px;
}

.header--search-history{
    display: none;
    background-color: var(--while-color);
    box-shadow: 0 1px 4px #666;
    border-radius: 2px;
}

.input--search:focus ~ .header--search-history{
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    right: 20px;
    z-index: 1;
}

.header--search-history li{
    list-style: none;
    text-decoration: none;
}
.header--search-history li:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: rgb(241, 241, 241);

}
.header--search-history h6{
    opacity: 0.2;
    font-weight: 400;
}

.header--search-history ul{
    padding: 0;
}

.header--search-history li,
.header--search-history h6{
    padding: 10px;
}

.button--search{
    width:60px;
    height:34px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(251,85,51);
    margin:0 3px;
}

.button--search:hover{
    opacity: 0.5;
    cursor: pointer;
}

.icon--search{
    color: var(--while-color);
    font-size: 14px;
}

.header-mix__cart{
    width: 140px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--cart{
    font-size: 30px;
    padding: 10px;
    color: var(--while-color);
}

.header-mix__cart:hover .icon--cart{
    /* opacity: 0.5; */
    cursor: pointer;
}

.header-mix__cart:hover .header-mix__cart-list--no-cart,
.header-mix__cart:hover .header-mix__cart-list{
    display: block;
    cursor: pointer;

}

.header-mix__cart{
    position: relative;
}

.header-mix__cart-notice{
    position: absolute;
    top: -2px;
    right: 30%;
    padding: 0px 6px;
    background-color: var(--while-color);
    font-size: 14px;
    border-radius: 8px;
    line-height: 14px;
    border: 1px solid #FB5530;
    color: #FB5530;
}

.header-mix__cart-list--no-cart,
.header-mix__cart-list{
    position: absolute;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 1px 10px #6666;
    width: 400px;
    min-width: 100px;
    top: 123%;
    right: 16%;
    text-align: center;
    display: none;
}

.header-cart--txt{
    font-size: 1.6rem;
    padding: 0px 0 40px;
    display: none;
}

.header-mix__cart-list--no-cart::after,
.header-mix__cart-list::after
{
    content: '';
    position: absolute;
    right: 12px;
    top: -32px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;

}

.header-cart--img{
    width: 80%;
    padding: 20px;
    display: none;
    /* box-shadow: 0 1px 4px #666; */
}

.header-mix__cart-list--no-cart .header-cart--img,
.header-mix__cart-list--no-cart .header-cart--txt{
    display: inline-block;
}

.header-mix__cart-heading{
    color:#a7a6a6;
    display: none;
    font-size: 1.4rem;
    line-height:  16.8px;
    padding: 10px 0px 20px 10px;
    font-weight: 300;
    text-transform:  capitalize;
}

.header-mix__cart-heading:hover{
    cursor: text;
}

.header-mix__cart-list-button{
    display: none;
    float: right;
    padding: 10px 20px;
    margin: 15px 10px;
    font-size: 14px;
    text-decoration: none;
    color: var(--while-color);
    background-color: rgb(245,62,45);
    border-radius: 2px;

}

.header-mix__cart-list-button:hover{
    background-color: rgba(245,62,45,0.8);
}

.header-mix__cart-list .header-mix__cart-heading{
    display: flex;
}
.header-mix__cart-list .header-mix__cart-list-button{
    display: block;
}