
.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-nav__ListItem{
    display: flex;
    font-size: 1.3rem;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.header-nav__item{
    margin-left: 9px;
    margin-right: 8px;
    font-weight: 300;
    position: relative;
}

.header-nav__item:hover{
    cursor: pointer;
    opacity: 0.5;
}

.header-nav__item--PhanCach::after{
    content: "";
    display: block;
    width: 2px;
    height: 13px;
    background-color: #F9725C;
    position: absolute;
    top: 0;
    right: -9px;
}


.header-nav__item,
.header-nav__ListItem a{
    text-decoration: none;
    color: var(--while-color);
}

.header-nav__item--NoPointer:hover{
    cursor: text;
    opacity: 1;
}

.header-nav__item--User{
    display: flex;
    justify-items: center;
    margin-top: -3px;
    position: relative;
}

.userAvata{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.userName{
    margin-left: 5px;
    margin-top: 2px;
}

.header-nav__item--User-menu::after{
    content: '';
    position: absolute;
    right: 54%;
    top: -11%;
    border-width: 8px 10px;
    border-style: solid;
    z-index: 2;
    border-color: transparent transparent var(--while-color) transparent;
}

.header-nav__item--User-menu{
    display: none;
    position: absolute;
    top: 111%;
    left: 0;
    list-style: none;
    background-color: var(--while-color);
    border-radius: 2px;
    width: 150px;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
}

.header-nav__item--User-menu .User-menu-item{
    color: var(--text-color);
    width: 100%;
    font-size: 1.4rem;
    font-weight:500;
    line-height: 16.8px;
    display: block;
    margin-right: 0;
    padding: 15px;
}

.header-nav__item--User:hover{
    opacity: 1;

}
.header-nav__item--User:hover .userName{
    opacity: 0.5;
}

.header-nav__item--User:hover .header-nav__item--User-menu{
    display: block;
}

.User-menu-item:hover{
    background-color: rgba(24, 24, 24, 0.1);
    color: #00bfa5;
}