<nav class="header-nav ">
    <ul class="header-nav__ListItem">
        <li class="header-nav__item  header-nav__item--PhanCach">
            <a href="https://banhang.shopee.vn/account/signin?next=%2F" target="_blank">
                Kênh Người
                Bán
            </a>
        </li>
        <li class="header-nav__item header-nav__item--PhanCach">
            <a href="https://shopee.vn/m/sell-on-shopee" target="_blank">Trở Thành Người bán Shopee</a>
        </li>
        <li class="header-nav__item  header-nav__item--PhanCach">Tải Ứng Dụng</li>
        <li class="header-nav__item header-nav__item--NoPointer">
            Kết Nối
            <a href="https://www.facebook.com/ShopeeVN" target="_blank">
                <i
                    class="fa-brands fa-facebook Pointer Hover">
                </i>
            </a>
            <a href="https://www.instagram.com/shopee_vn/" target="_blank">
                <i
                    class="fa-brands fa-instagram margin-left-4 Pointer Hover">
                </i>
            </a>
        </li>
    </ul>

    <ul class="header-nav__ListItem">
        <li class="header-nav__item  header-nav__item--PhanCach">
            <i class="fa-solid fa-bell"></i>
            Thông báo
        </li>
        <li class="header-nav__item  header-nav__item--PhanCach">
            <a href="https://help.shopee.vn/vn/s/" target="_blank">
                <i class="fa-solid fa-circle-question"></i>
                Hỗ Trợ
            </a>
        </li>
        <li id="dangki" class="header-nav__item  header-nav__item--PhanCach dangxuat">
            <a href="./LoginAndSignup/signup/signup.html">Đăng Ký</a>
        </li>
        <li id="dangnhap" class="header-nav__item dangxuat">
            <a href="./LoginAndSignup/login/login.html">Đăng Nhập</a>

        </li>
        @* <li id="User" class="header-nav__item header-nav__item--User"> *@
        @*     <img src="img/avata.jpg" alt="lỗi avata" class="userAvata"> *@
        @*     <span class="userName">zzcongkunzz</span> *@
        @*     <ul class="header-nav__item--User-menu"> *@
        @*         <li> *@
        @*             <a href="#" class="User-menu-item">Tài Khoản Của Tôi</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#" class="User-menu-item">Đơn Mua</a> *@
        @*         </li> *@
        @*         <li> *@
        @*             <a href="#" class="User-menu-item" onclick="DangXuat()">Đăng Xuất</a> *@
        @*         </li> *@
        @*     </ul> *@
        @* </li> *@

    </ul>
</nav>