@* @model Product *@
<a class="header-mix__cart-product-link">
    <div class="header-mix__cart-product-item">
        <div class="header-mix__cart-product-item--img"
             style="background-image: url('@Url.Content("~/img/sanpham1.jpg")')"></div>
        <div class="header-mix__cart-product-item--name-product">áo khoác nữ sinh
            Harajuku JK 100% ảnh thật</div>
        <div class="header-mix__cart-product-item--combox-price">
            <span class="header-mix__cart-product-item--unit">đ</span>
            <span class="header-mix__cart-product-item--price">20000</span>
        </div>
    </div>
</a>