<div class="banner">
    <div class="banner-combox grid">
        <div class="banner__chinh">

        </div>
        <div class="banner__phu">
            <div class="banner__phu--1">

            </div>
            <div class="banner__phu--2">

            </div>
        </div>
    </div>

    <div class="banner-list grid">
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon1"></div>
            <span class="banner-list__item--text">Tech Zone - Siêu Thị Điện Tử</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon2"></div>
            <span class="banner-list__item--text">Gì Cũng Rẻ - Từ 1K</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon3"></div>
            <span class="banner-list__item--text">Hoàn Xu 20% - Đơn Từ 0Đ</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon4"></div>
            <span class="banner-list__item--text">Nạp Thẻ, Hóa Đơn & E-voucher</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon5"></div>
            <span class="banner-list__item--text">Chọn 6 Số Trúng Tiền Triệu</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon6"></div>
            <span class="banner-list__item--text">Freeship Xtra Đến 70K</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon7"></div>
            <span class="banner-list__item--text">Hàng Hiệu -50%</span>
        </a>
        <a href="" class="banner-list__item ">
            <div class="banner-list__item--icon banner-list__item--icon8"></div>
            <span class="banner-list__item--text">Hàng Quốc Tế</span>
        </a>
        <a href="" class="banner-list__item">
            <div class="banner-list__item--icon banner-list__item--icon9"></div>
            <span class="banner-list__item--text">Shopee Premium</span>
        </a>
    </div>

</div>